:root{
    --wite-clr: #fff;
    --blk-clr:#111;
    --sub-clr: #5f5f5f;
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: 0.4s;
    scroll-behavior: smooth;
    text-decoration: none;
}
body {
    font-family: 'Oswald', sans-serif;
    background-color: var(--blk-clr) ;
}
.stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color:transparent;
}
form {
position: absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align: center;
width:90%;
}
h1 {
    text-transform: uppercase;
    font-size:45px;
    color:var(--wite-clr);
    user-select: none;
}
input,textarea {
    width:100%;
    margin:20px 0;
    border:none;
    background-color:transparent;
    outline: none;
    color:var(--wite-clr);
    border-bottom:1px solid var(--wite-clr);
    font-size: 20px;
}
input {
    height:50px;
}
.form-btn {
    display: inline-block;
    border:none;
    font-size:18px;
    font-weight:700;
    padding:15px;
    outline:none;
    margin:15px 0;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--wite-clr);
}
.form-btn:hover {
    background-color:var(--wite-clr);
    color:var(--blk-clr) !important
}
i {
    display: block !important;
    color:var(--wite-clr) !important;
    font-size:25px;
    cursor: pointer;
    width:1%;
    margin:0 auto
}
@media screen and (min-width:900px) {
    .input-container {
        display: flex;
        margin:30px 0
    }
    input {
        width: 50%;
        margin:0 5px
    }
}